<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>platform-application</key><true/>
	<key>com.apple.private.security.no-sandbox</key><true/>
	<key>com.apple.private.security.no-container</key><true/>
	<key>com.apple.private.security.storage-exempt.heritable</key><true/>
	<key>com.apple.private.security.storage.SMS</key><true/>
	<key>com.apple.private.security.storage.AddressBook</key><true/>
	<key>com.apple.private.security.storage.CallHistory</key><true/>
	<key>com.apple.private.security.storage.Voicemail</key><true/>
	<key>com.apple.private.MobileGestalt.AllowedProtectedKeys</key><true/>
	<key>com.apple.rootless.storage.MobileSMS</key><true/>
	<key>com.apple.private.tcc.allow</key>
	<array>
		<string>kTCCServiceAddressBook</string>
	</array>
</dict>
</plist>
